#query-search {
    font-size: 2em;
    width: 100%;
    padding: 0.2em;
    border: solid 1px var(--primary);
    border-radius: 0;
}

#search-results {
    display: flex;
    flex-direction: column;
}

#search-results .search-result {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 70px auto;
    gap: 1em;
    align-items: center;
    border: solid 1px var(--text);
    overflow: hidden;
}

#search-results .search-result .search-result__option_image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
}
