.loader {
  --color-1: rgba(var(--primary-rgb), 0.15);
  --color-2: rgba(var(--primary-rgb), 0.25);
  --color-3: rgba(var(--primary-rgb), 0.35);
  --color-4: rgba(var(--primary-rgb), 0.5);
  --size: 1px;

  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: calc(6 * var(--size)) solid;
  border-color: var(--color-1) var(--color-2) var(--color-3) var(--color-4);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
