.inputArea {
  display: flex;

  button {
    color: var(--text-secondary);
    background-color: var(--primary);
    font-weight: bold;
    padding: 1em;
    border: solid 1px var(--primary);
    cursor: pointer;
  }

  * {
    font-family: var(--font);
  }
}

.querySearch {
  font-size: 2em;
  width: 100%;
  padding: 0.2em;
  border: solid 1px var(--primary);
  border-radius: 0;
}

.searchResults {
  display: flex;
  flex-direction: column;
}

.searchResult {
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 70px auto;
  gap: 1em;
  align-items: center;
  border: solid 1px var(--text-primary);
  overflow: hidden;
  cursor: pointer;
}

.searchResultImage {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.searchResult:hover {
  background-color: color-mix(in srgb, var(--secondary), transparent 75%);
}

.pagination {
  display: flex;
  justify-content: end;
  gap: 0.4em;

  margin-top: 0.5em;
}

.paginationButton {
  padding: 0.5em;

  border: solid 1px var(--text-primary);
  border-radius: 50%;

  height: 40px;
  width: 40px;

  color: var(--text-primary);
  background-color: var(--background);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--accent);
  }
}

@media (prefers-color-scheme: dark) {
  .paginationButton img {
    filter: invert();
  }
}
