.sidepane {
  height: 100%;
  width: 100%;
  border-left: solid 2px var(--secondary);
  padding: 0 2rem;

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.sidepane__info__title {
  font-size: 2em;
  color: var(--text-secondary);
}

.sidepane__info__artist {
  color: var(--primary);
}
