.sidepane {
  height: 100%;
  width: 100%;
  border-left: solid 2px var(--secondary);
  padding: 0 2rem;

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.infoTitle {
  font-size: 2em;
  color: var(--text-secondary);
}

.infoArtist {
  color: var(--primary);
}

.lyrics {
  margin-top: 3em;
}

.lyricsTitle {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.lyricsLines {
  white-space: pre-line;
}

.notFound {
  opacity: 0.6;
}

.progressDisplay {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  font-size: 1em;
}

.loader {
  --color-1: rgba(98, 99, 165, 0.15);
  --color-2: rgba(98, 99, 165, 0.25);
  --color-3: rgba(98, 99, 165, 0.35);
  --color-4: rgba(98, 99, 165, 0.5);
  --size: 1px;

  width: calc(20 * var(--size));
  height: calc(20 * var(--size));
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: calc(6 * var(--size)) solid;
  border-color: var(--color-1) var(--color-2) var(--color-3) var(--color-4);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
